<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <Body>
        <div class="main-content">
        {{>header}} 
        <p>This site was ceated by Munesh and it uses mapbox and dark sky</p>
        <img class="portrait" src="/img/find-jobs.png" >
        <p>Created by {{name}}</p>
     </div>
     {{>footer}}
     
    </Body>
</html>