<!DOCTYPE html>
<html>
    
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <Body>
        <div>
        {{>header}}
        <p>At Forty One digital Solutions {{message}} </p>
        </div>
        
     {{>footer}}   
    </Body>
</html>